# OS Files
.DS_Store
._.DS_Store

# Python Files
*.pyc

# Vim Files
*~
*.swp

# Cloud9 files
.c9/

# PyTest Files
.cache/
*.pytest_cache/

#cscope
cscope.*

nohup.out

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Ignore cache files
www/apps/static/gen/*
www/apps/static/.*
solr/solr-6.2.0*
solr/.zinc*

# Ignore any extension builds
*.pem
*.crx

# Ignore compiled assets
.webassets-cache/

# Ignroe any CTags files
tags

# ignore Node Modules
node_modules/
www/apps/static/js/webpack-bundles/
ef-generator/node_modules/
www/apps/static/storybook/

# Jest snapshots
# __snapshots__/

#sftp config
sftp-config.json
.remote-sync.json
.vscode/*

#code coverage
coverage/
lcov-report/
www/apps/static/code_coverage/lcov-report/
www/react/backstop_data/html_report/
www/react/backstop_data/bitmaps_test/
www/react/.eslintcache

# emacs files
.dir-locals.el

# Dist packages
dist

# temp i18n directories and files
www/react/build/
www/react/src/i18n/locales/
www/react/src/i18n/i18n_data.json
www/i18n/locales/*.json
www/i18n/locales
www/i18n/*.pot
www/i18n/i18n/messages.pot
www/apps/static/js/i18n/
www/htmlcov/
www/.vscode/
.idea/

# Selenium test files
allure

#pydev
.pydevproject
.project
.vscode

venv
