.border-box {
    border: 2px solid red;
}

.timetable-cell {
  min-height: 100px;
  min-width: 120px;
  max-width: 120px;
  border: 1px solid black;
  flex-shrink: 2;

  .timetable-cell-text {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
  }
}
